{% extends "base.html" %} {% block title %} {{ details.faqs_title }} {% endblock
%} {% block content %}
<main>
  <div class="container mx-auto px-4">
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Which Board does the school follow?
      </h4>
      <span
        >Our school follows a child centric curriculum aligned with CGBSE
        guidlines, focusing on strong basics, concept clarity and overall
        development of the child.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        What teaching method do you use for kids?
      </h4>
      <span
        >We use activity-based and play-way learning with smart classes,
        worksheets, stories and hands-on activities to make learning fun and
        effective.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        What is the student-teacher ratio?
      </h4>
      <span
        >We maintain a low student-teacher ratio so every child receives
        individual attentiona nd care.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Are teachers are trained and experienced?
      </h4>
      <span
        >Yes, all out teachers are qualified, experiences and regulary trained
        in modern teaching methods and child psychology.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Is your school safe for children?
      </h4>
      <span
        >Yes, child safety is our top priority. The campus is secure, hygenic
        and monitored and children are always under staff supervision.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Do you have CCTV cameras?
      </h4>
      <span
        >Yes, CCTV cameras are installed at key points to ensure safety and
        discipline.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Is homework given to small children?
      </h4>
      <span
        >For junior classes, we keep very light and meaningful homework, mainly
        for practice and parent involvement.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        What activities are included besides studies?
      </h4>
      <span
        >We offer art & craft, music, dance, yoga, sports, storytelling and
        celebrations to support overall personality development.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        How do you handle shy or slow learners?
      </h4>
      <span
        >Our teachers give extra care, encouragement and personal attention to
        help every child grow confidently at their own pace.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        How do you communicate with parents?
      </h4>
      <span
        >We maintain regular communication through PTMs school diary/ whatsapp
        communications, notices and direct interaction with teachers</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        How do you take care of health and emergencies?
      </h4>
      <span
        >We have first-aid facility and trained staff to handle minor medical
        needs and inform parents immediately in case of emergencies.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Is transport facility available?
      </h4>
      <span
        >Yes, we provide safe and reliable transport with trained drivers and
        helpers, following all safety norms.</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        What documents are required for admission?
      </h4>
      <span
        >Required documents include birth certificate, Aadhar card copy, 2
        passport size photos and precvious school record(if applicable)</span
      >
    </div>
    <div
      class="bg-primary/10 rounded-xl flex items-center justify-center p-8 rounded-2xl border border-border hover:shadow-xl hover:shadow-black/5 hover:-translate-y-1 transition-all duration-300"
    >
      <h4 data-component-name="h4" class="text-xl font-bold mb-3">
        Do you focus on discipline and values?
      </h4>
      <span
        >Yes, we emphasize moral values, discipline, respect and good habits
        along with academic learning.</span
      >
    </div>
  </div>
</main>
{% endblock %}
